*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: $font-primary;
  background: $bg-primary;
  font-family: $font-family-primary;
  font-size: 1.6rem;
}

a {
  color: $font-primary;
  text-decoration: none;
}

.router-link-active {
  color: $primary;
}

// @font-face {
//   font-family: 'Avenir';
//   src: url('@/assets/fonts/Avenir-Book-01.woff2') format('woff2');
//   font-display: swap; /* или optional, fallback, block */
//   font-weight: 400;
// }

// .line {
//   display: flex;
//   flex-wrap: wrap;
//   margin-bottom: 20px;
//   &__block {
//     display: block;
//   }
// }
